{% extends 'base.html' %}
{% load static %}
{% block title %}
  Регистрация
{% endblock %}
{% block css %}
  <link href="{% static 'css/style1.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container-gr">
        <div class="pic">
            <img class="mb-4" src="{% static 'img/1.svg' %}" alt="" width="100%" height="100%">
        </div>
    </div>
    <main class="form-signin rounded-signup">
    <form>
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Телефон/Email</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Пароль</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Подтверждение пароля</label>
        </div>
        <div class="center">
            <a href="#" style="--clr:#8ED330" class="signup"><span>Зарегистрироваться</span><i></i></a>
        </div>
    </form>
    </main>
    <div class="pic_2">
        <img src="{% static 'img/2.jpg' %}" alt="" width="100%" height="100%">
    </div>
{% endblock %}