{% extends 'base.html' %}
{% load static %}
{% block title %}
  Профиль
{% endblock %}
{% block css %}
  <link href="{% static 'css/style3.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
{% include 'includes/header.html' %}

{% if cars %}
    {% for car in cars %}
       <button type="button" class="btn btn-outline-dark rounded-pill" id="car">
           <a href="{% url 'car' car.pk %}">{{ car.mark }} {{ car.model }}</a>
        </button>
    {% endfor %}
{% else %}
    <main class="main">
      Нет машин.
    </main>
{% endif %}
    <button type="button" class="btn btn-outline-dark rounded-pill" id="car">
        <a href="{% url 'car_new' %}">Добавить автомобиль</a>
    </button>
<!--    <main class="main">-->
<!--      <img class="pic44" src="{% static 'img/44.svg' %}" alt=""  style="float:left">-->
<!--      <a href="#" style="&#45;&#45;clr:#ffff" class="signup44"><span>Model S</span><i></i></a>-->
<!--    </main>-->
<!--    <main class="main1">-->
<!--      <img class="pic17" src="{% static 'img/17.svg' %}" alt=""  style="float:left">-->
<!--      <a href="#" style="&#45;&#45;clr:#ffff" class="signup17"><span>iX</span><i></i></a>-->
<!--      <main class="main2">-->
<!--        <a href="tel:+79933285240”>+7(952)818-52-01" style="&#45;&#45;clr:#ffff" class="signup18"><span>call us</span><i></i></a>-->
<!--        <a href="#" style="&#45;&#45;clr:#ffff" class="signup19"><span>+</span><i></i></a>-->
<!--      </main>-->
<!--    </main>-->

{% include 'includes/footer.html' %}
{% endblock %}