html,
body {
  height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffff;
    flex-direction: column;
}
a.signup
{
    position: relative;
    background: #8ED336;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 10px 45px;
    transition: 0.5s;
    border-radius: 30px;
}
a.signup:hover
{
    letter-spacing: 0.25em;
    background: var(--clr);
    color: #fff;
    box-shadow: 0 0 35px var(--clr);
    border-radius: 30px;
}
a.signup::before
{
    content: '';
    position: absolute;
    inset: 2px;
    background: #8ED336;
    border-radius: 30px;
}
a.signup span
{
    position: relative;
    z-index: 1;
}
a.signup i
{
    position: absolute;
    inset: 0;
    display: block;
}

a.signup_1
{
    position: relative;
    background: #8ED336;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 10px 45px;
    transition: 0.5s;
    border-radius: 30px;
}
a.signup_1:hover
{
    letter-spacing: 0.25em;
    background: var(--clr);
    color: #fff;
    box-shadow: 0 0 35px var(--clr);
    border-radius: 30px;
}
a.signup_1::before
{
    content: '';
    position: absolute;
    inset: 2px;
    background: linear-gradient(90deg, #d21010, rgb(40, 12, 220));
    border-radius: 30px;
}
a.signup_1 span
{
    position: relative;
    z-index: 1;
}
a.signup_1 i
{
    position: absolute;
    inset: 0;
    display: block;
}

body {
  display: flex;
  align-items: center;
  padding-top: 0;
  background-color: #fff;
  position: relative;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
}

.pic
{
    margin-top: 50px;
}

.form-signin {
    padding: 15px;
    height: 80%;
    width: 100%;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
  max-width: 100%;
}

.rounded-signup {
    border-radius: 5%;
}

.container-gr
{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #86B0D2, #ffff);
}

.gosusl {
    border-color: #000000;
    border-width: 2px;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 1.0em;
    letter-spacing: 0.1em;
}


.pic_2
{
    align-content: bottom;
    position: relative;
    height: 100%;
    width: 100%;
}
.form-floating{
    margin-top: 15px;
}
.container_1{
    margin-bottom: 25px;
}
a {
    color: #000000;
    text-decoration: underline;
    text-decoration: none;
}
.reg{
    margin-bottom: 25px;
    margin-top: 25px;
    font-family: Helvetica;
}
.center-2{
    justify-content: center;
    align-items: center;
}

#div_id_email {
    height: 50px;
}